APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_LOG_ENABLED=true
APP_USE_DATABASE=false
APP_CORS_ENABLED=false

DB_HOST=localhost
DB_PORT=3306
DB_NAME=database_name
DB_USER=database_user
DB_PASS=database_password
